<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Bootstrap 101 Template</title>
    <link href="//Users/ambition/rails_projects/sage/app/assets/images/favicon.ico" rel="SHORTCUT ICON">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style media="screen" type="text/css">
      .item {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <%= link_to @game_results['articleContents'][1]['contentData']['linkUrl'], :target => "_blank" do %>
              <%= image_tag("http://capture.heartrails.com/400x400?" + @game_results['articleContents'][1]['contentData']['linkUrl'], :class => "img-responsive", :alt => "Facebook") %>
                <% end %>
                  <p>こんな風に</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <%= link_to @game_results['articleContents'][2]['contentData']['linkUrl'], :target => "_blank" do %>
              <%= image_tag("http://capture.heartrails.com/400x400?" + @game_results['articleContents'][2]['contentData']['linkUrl'], :class => "img-responsive", :alt => "Facebook") %>
                <% end %>
                  <p>サムネイルの文字もリンクから</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <%= link_to @game_results['articleContents'][3]['contentData']['linkUrl'], :target => "_blank" do %>
              <%= image_tag("http://capture.heartrails.com/400x400?" + @game_results['articleContents'][3]['contentData']['linkUrl'], :class => "img-responsive", :alt => "Facebook") %>
                <% end %>
                  <p>gitにあげて</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <%= link_to @game_results['articleContents'][4]['contentData']['linkUrl'], :target => "_blank" do %>
              <%= image_tag("http://capture.heartrails.com/400x400?" + @game_results['articleContents'][4]['contentData']['linkUrl'], :class => "img-responsive", :alt => "Facebook") %>
                <% end %>
                  <p>rails勉強しよう</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <%= link_to @game_results['articleContents'][5]['contentData']['linkUrl'], :target => "_blank" do %>
              <%= image_tag("http://capture.heartrails.com/400x400?" + @game_results['articleContents'][5]['contentData']['linkUrl'], :class => "img-responsive", :alt => "Facebook") %>
                <% end %>
                  <p>サムネイルの推薦も作成</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <%= link_to @game_results['articleContents'][6]['contentData']['linkUrl'], :target => "_blank" do %>
              <%= image_tag("http://capture.heartrails.com/400x400?" + @game_results['articleContents'][6]['contentData']['linkUrl'], :class => "img-responsive", :alt => "Facebook") %>
                <% end %>
                  <p>programの勉強も</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <%= link_to @game_results['articleContents'][7]['contentData']['linkUrl'], :target => "_blank" do %>
              <%= image_tag("http://capture.heartrails.com/400x400?" + @game_results['articleContents'][7]['contentData']['linkUrl'], :class => "img-responsive", :alt => "Facebook") %>
                <% end %>
                  <p>こんな風に</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <%= link_to @game_results['articleContents'][8]['contentData']['linkUrl'], :target => "_blank" do %>
              <%= image_tag("http://capture.heartrails.com/400x400?" + @game_results['articleContents'][8]['contentData']['linkUrl'], :class => "img-responsive", :alt => "Facebook") %>
                <% end %>
                  <p>こんな風に</p>
          </div>
          <div class="item col-md-4 col-sm-4 col-xs-6">
            <%= link_to @game_results['articleContents'][9]['contentData']['linkUrl'], :target => "_blank" do %>
              <%= image_tag("http://capture.heartrails.com/400x400?" + @game_results['articleContents'][9]['contentData']['linkUrl'], :class => "img-responsive", :alt => "Facebook") %>
                <% end %>
                  <p>こんな風に
                    <%=@game_results['articleContents'][5]['contentData']['linkUrl']%>
                  </p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>

</html>