<h1>Mecab#nouncount</h1>
<!--<p><%= @wordHash.keys[0] %></p>-->
<!--<p><%= @wordHash[@wordHash.keys[0]] %></p>-->

<p>
  <%= @carrent_count %>,<%= @new_count %><br>
  <% @wordHash.each do |key, value| %>
      <%= key %>,<%= value %><br>
  <% end %>
</p>